
<template>
  <nav id="navigation" class="navbar">
    <router-link to="home"><div class="navbar-logo">
      <img class="navbar-logo-img" src="@/assets/logo.png"/>
      <h3 class="navbar-logo-text">SHADOWROLL</h3>
      </div>
    </router-link>
    <div class="navbar-nav">
      <div v-on:click="logout" class="navbar-link">
        logout
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'NavBar',
  methods: {
    logout(){
      this.$store.dispatch("logout",function(){
        this.$router.push("/");
      }.bind(this));
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
