
<template>
  <div class="sidebar">
    <div class="sidebar-header">
      Hello {{ username }}.
    </div>
    <ul>
      <li>Characters</li>
    </ul>
    SideBar
  </div>
</template>

<script>
export default {
  name: 'SideBar',
  props: {
    msg: String
  },
  computed: {
    username: {
      get() {
        return this.$store.state.username;
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
