@import "color";

a{
    cursor:pointer;
    text-decoration: none;
    color:inherit;
}

a:focus{
    outline:0;
}

select:-moz-focusring{
    color: transparent;
}

body{
    height:100%;
    margin:0;
}

#app{
    width: 100%;
    height: 100%;
}

html{
    font-family: 'Source Code Pro', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    color: $dark;
    background-color: $light;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Audiowide', cursive;
}

.img-responsive{
    display: block;
    height: auto;
    max-width: 100%;
}
