@import "color";

.btn{
    cursor:pointer;
    user-select: none;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid $dark;
    color: hsl(0,0,3%);
    background: $light;
    padding: 3px;
    padding-left: 12px;
    padding-right: 12px;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    transition: background border-color 0.5s;
}

.btn-lg{
    font-size: 24px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.btn:hover{
    background: hsl(0,0,92%);
}

.btn-primary{
    background: hsl(0,0,3%);
    color: hsl(0,0,97%);
}

.btn-primary:hover{
    background: hsl(0,0,19%);
    border: 2px solid hsl(0,0,19%);
}

.btn-disabled{
    cursor:not-allowed;
    color: hsl(0,0,100%);
    background: hsl(0,0,39%);
    border-color: hsl(0,0,39%);
}

.btn-primary.btn-disabled{
    color: hsl(0,0,100%);
    background: hsl(0,0,39%);
    border-color: hsl(0,0,39%);
}

.btn-clr{
    background: none;
    border: none;
    box-shadow: none;
}
.btn-clr:hover{
    background: none;
}

.btn-clr::after{
    width: 10px;
    font-size: 24px;
    color: $light;
    visibility:visible;
    display: block;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f057";
    margin: -5px;
}
