$dark: hsl(0,0,3%);
$dark-shadow: hsla(0,0,3%,0.3);

$medium-light: hsl(0,0,93%);

$light: hsl(0,0,97%);
$light-shadow: hsla(0,0,97%,0.3);

$red: rgb(229, 45, 32);
$red-shadow: rgba(229, 45, 32,0.2);

$green: rgb(9, 198, 22);
$green-shadow: rgba(9, 198, 22,0.2);

$warn: $red;
$warn-shadow: $red-shadow;

$ok: $green;
$ok-shadow: $green-shadow;
