@import "color";

form{
    display:flex;
    justify-content:left;
    flex-direction:column;
}

.label{
    font-size: 24px;
}

.input{
    font-size: 24px;
    margin: 8px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    border-bottom: 3px solid rgb(1,0,0);
    background: none;
    box-shadow:  0px 3px 3px rgba(0,0,0,0.2);
    transition: border-color 0.3s;
}

.input-warn{
    border-color: $warn;
    box-shadow:  0px 3px 3px $warn-shadow;
}

.input-ok{
    border-color: $ok;
    box-shadow:  0px 3px 3px $ok-shadow;
}
