@import "color";

.navbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: $light;
    top: 0;
    left: 0;
    right: 0;
    //border-bottom: $dark 1px solid;
    box-shadow: 0px 3px 3px $dark-shadow;
}
.navbar+*{
    margin-top: 60px;
}

.navbar-logo{
    display: flex;
    align-items: center;
}

.navbar-logo:hover>.navbar-logo-img{
    filter: drop-shadow(1px 0px 1px rgba(0,0,0,0.3));
}

.navbar-logo-img{
    width: auto;
    height: 40px;
    margin: 10px;
    filter: drop-shadow(1px 0px 1px rgba(0,0,0,0.6));
}
.navbar-logo-text{
    @include sm-media {
        display: none;
    }
}

.navbar-nav{
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-link{
    user-select: none;
    cursor:pointer;
    margin-left: 7px;
    margin-right: 7px;
    padding: 3px;
}

.navbar-link:hover{
    margin-bottom: -2px;
    border-bottom: 2px solid $dark;
}
