$xs-width: 30em;
$sm-width: 48em;
$md-width: 64em;
$lg-width: 75em;

@mixin xs-media {
    @media only screen and (max-width: #{$xs-width}) {
        @content;
    }
}

@mixin sm-media {
    @media only screen and (max-width: #{$sm-width}) {
        @content;
    }
}

@mixin md-media {
    @media only screen and (max-width: #{$md-width}) {
        @content;
    }
}
