@import "color";

.toast{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    border-radius: 5px;
    border: 2px solid $dark;
    color: hsl(0,0,3%);
    background: $light;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
}

.toast-warn{
    background-color: $warn;
    color: $light;
    border-color: $warn;
}
