<template>
  <div class="home">
    <NavBar/>
    <div class="row" id="content-row">
      <SideBar class="col-xs-3"/>
      <div id="content" class="col-xs-9">
        <Messages/>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.home{
  // uggghhhh
  overflow: hidden;
  height: 100%;
}

#content-row{
  height: 100%;
}

#content{
  padding: 0;
  height: 100%;
}
</style>

<script>
// @ is an alias to /src
import NavBar from '@/components/NavBar.vue';
import SideBar from '@/components/SideBar.vue';
import Messages from '@/components/Messages.vue';

export default {
  name: 'Home',
  components: {
    SideBar,
    NavBar,
    Messages,
  }
}
</script>
