<template>
    <div id="login" class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <img class="logo img-responsive" alt="Logo" src="../assets/logo.png">
            <h1 class="title">SHADOWROLL</h1>
            <h2> Please Login </h2>
            <form class="form-group" id="login-form">
                <label class="label" for="input-username">Username</label>
                <input class="input" id ="input-username" placeholder="Username" type="text" v-model="username"/>
                <label class="label" for="input-password">Password</label>
                <input class="input" id ="input-password" placeholder="Password" type="password" v-model="password"/>
            </form>
            <div v-if="error !== null" class="toast toast-warn">
                {{error}}
                <div v-on:click="clearError" class="btn btn-clr"/>
                </div>
                <div class="row login-buttons">
                    <div class="col-xs">
                        <div v-on:click="login" class="btn btn-primary btn-lg">login</div>
                    </div>
                    <div class="col-xs">
                        <router-link to="register"><div class="btn btn-lg"> register</div></router-link>
                    </div>
                </div>
            </div>
        </div>
</template>

<style lang="scss">
@import "../style/responsive.scss";
.login-buttons{
    padding-top: 30px;
}

#login{
    padding-top: 30px;
}

#login{
    text-align: center;
}

#login-form{
    text-align: left;
}

.logo-text{
    font-size: 48px;
}

.logo{
    max-height: 400px;
    @include md-media{
        max-height: 300px;
    }
    margin: 0 auto;
    width: auto;
    height: auto;
    filter: drop-shadow(3px 0px 3px rgba(0,0,0,0.4));
}
</style>

<script>
export default {
    name: 'login',
    data(){
        return {
            password: "",
        }
    },
    methods:{
        login(){
            console.log(this.password);
            this.$store.commit('clearError');
            var on_success = function(){
                this.$router.push('home');
            }.bind(this);
            this.$store.dispatch("login",{
                on_success: on_success,
                password: this.password
            });
        },
        clearError(){
            this.$store.commit('clearError');
        }
    },
    computed: {
        error: {
            get(){
                return this.$store.state.error;
            },
        },
        username: {
            get() {
                return this.$store.state.username;
            },
            set(value) {
                this.$store.commit('updateUsername',value);
            }
        },
    }
}
</script>
