<template>
  <div id="register">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <h1> WELCOME! </h1>
        <p> Please fill in the necessary information. </p>
        <form class="form-group" id="login-form">
          <label class="label" for="input-username">Username</label>
          <input class="input"
                 v-bind:class ="{'input-warn': available === false, 'input-ok': available === true}"
                 id ="input-username"
                 placeholder="Username"
                 type="text"
                 v-model="username"/>
          <hr>
          <label class="label" for="input-password">Password</label>
          <input class="input"
                 v-bind:class="{'input-warn':!isPasswordValid, 'input-ok':isPasswordValid && password != ''}"
                 id ="input-password"
                 placeholder="Password"
                 type="password"
                 v-model="password"/>

          <label class="label" for="input-password-again">Password again</label>
          <input class="input"
                 v-bind:class="{'input-warn':!isPasswordValid, 'input-ok':isPasswordValid && password != ''}"
                 id ="input-password-again"
                 placeholder="Password"
                 type="password"
                 v-model="password_again"/>

        </form>
        <div class="row">
          <div class="col-xs login-buttons">
              <div class="btn btn-primary btn-lg"
                   v-bind:class="{'btn-disabled': !validRegister}"
                   v-on:click="register">
                register
              </div>
          </div>
          <div class="col-xs login-buttons">
              <div v-on:click="back" class="btn btn-lg">
                back
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import "../style/responsive.scss";

.login-buttons{
  padding-top: 10px;
}

#register{
  padding-top: 80px;
  @include md-media{
    padding-top: 0;
  }
}

</style>

<script>
import Api from "../api.js";
import _ from "lodash";

export default {
  name: 'register',
  data() {
    return {
        password: "",
        password_again: "",
        available: null,
        check_available_debounce: _.debounce(() => {
            Api.available(this.$store.state.user.name)
                .then((r) => {
                    this.available = r.available;
                });
        },1000),
    };
  },
    created(){
        if (this.$store.state.user.name !== ""){
            Api.available(this.$store.state.user.name)
                .then((r) => {
                    this.available = r.available;
                });
        }
    },
    methods: {
        back(){
            this.$router.go(-1);
        },
        register(){

            this.$store.dispatch("register",{
                password: this.password,
                on_success: function(){
                    this.$store.dispatch("login",{
                        password: this.password,
                        on_success: function(){
                            this.$router.push("home");
                        }
                    });
                }
            });
        },
        check_available() {
            this.check_available_debounce.cancel();
            this.check_available_debounce.bind(this);
            this.check_available_debounce(this);
        }
    },
    computed: {
        username: {
            get() {
                return this.$store.state.user.name;
            },
            set(value) {
                this.$store.commit('updateUsername',value);
                this.available = null;
                if(value !== ""){
                    this.check_available()
                }
            }
        },
        isPasswordValid:{
            get(){
                return this.password_again === this.$store.state.user.password;
            }
        },
        validRegister: {
            get(){
                return this.password_again != ""
                    && this.isPasswordValid
                    && this.$store.state.user.name != ""
                    && this.available === true;
            }
        }
    }
}
</script>
